fastapi
argon2-cffi==25.1.0
uvicorn
sqlalchemy
pydantic
pytest 
pytest-asyncio 
httpx 
sqlalchemy-utils
pydantic[email]
pytest-cov
black
alembic
python-jose 
passlib[bcrypt]
python-multipart
Authlib
pyright